<% if !flash[:danger].nil? %>
  <h1><%= flash[:danger] %></h1>
<% end %>

<h1>Sign in</h1>

<%= form_for(:session, url: edu_login_path) do |f|%>
  	<%= f.text_field :email, placeholder: "E-Mail" %>
		<%= f.password_field :password, placeholder: "Password" %>
	<%= f.submit "Login" %>
<% end %>
