<div class="container home-student">
  <div class="row d-flex justify-content-center">
    <form class="form-search mr-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-search" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <button class='btn btn-success' data-toggle="modal" data-target="#joinGroupModal">
      <i class="fa fa-user-plus"></i>
    </button>
  </div>

  <div class="row mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course name</th>
          <th scope="col">Group name</th>
          <th scope="col">Teacher name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% st_logged_in? %>
        <% @current_user.courses.all.each do |x| %>
          <tr>
            <th scope="row"><%= x.id %></th>
            <td><%= x.name %></td>
            <td><%= group?(x.id).name %></td>
            <td><%= teacher_fullname?(teacher?(x.id)) %></td>
            <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, group_leave_path(group?(x.id)), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="joinGroupModal" tabindex="-1" role="dialog" aria-labelledby="joinGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinGroupModalLabel">Join group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@joinArgs, url: group_join_path()) do |form| %>
      <div class="modal-body">
          <div class="form-group">
            <label for="teacher_select_id" class="col-form-label">Teacher:</label>
            <%= form.collection_select :teacher_id, Teacher.order(:id), :id, :firstname, { include_blank: true }, { id: 'teacher_select_id', class: 'form-control' } %>
          </div>
          <div class="form-group">
            <label for="course_select_id" class="col-form-label">Course:</label>
            <%= form.grouped_collection_select :course_id, Teacher.order(:id), :courses, :firstname, :id, :name, { include_blank: true }, { id: 'course_select_id', class: 'form-control' } %>
          </div>
          <div class="form-group">
            <label for="group_select_id" class="col-form-label">Course:</label>
            <%= form.grouped_collection_select :group_id, Course.order(:id), :groups, :name, :id, :name, { include_blank: true }, { id: 'group_select_id', class: 'form-control' } %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= form.submit "Join!", class: "btn btn-primary" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
