<div class="container home-teacher">
  <div class="row d-flex justify-content-center">
    <form class="form-search mr-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-search" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <a class='btn btn-success' href="/courses/new">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="row mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course name</th>
          <th scope="col">Number of groups</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% get_teacher_courses.each do |course| %>
          <tr>
            <th scope="row"><%= course.id %></th>
            <td><%= course.name %></td>
            <td><%= course.group_count %></td>
            <td><%= link_to '<i class="fa fa-folder-open fa-2x"></i>'.html_safe, course_path(course, "A") %></td>
            <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, courses_delete_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
