<%session[:x_1]=51.148913%>
<%session[:y_1]=71.379933%>
<%session[:x_2]=0%>
<%session[:y_2]=0%>
<script>
	getGeoLocation();
</script>
<%session[:x_2]=cookies[:x_2]%>
<%session[:y_2]=cookies[:y_2]%>

<div class="d-flex p-3">
   <div class="d-flex>
		 <div class="card" style="width: 18rem;">
    	<%= image_tag @student.avatar, class: "card-img-top" %>
   		<div class="card-body">
     	<h5 class="card-title"><%= "Fullname: #{@student.firstname} #{@student.lastname}" %></h5>
     	<p class="card-text"><%= "Email: #{@student.email}" %></p>
 		</div>
	</div>

 <div class="container p-4">
   <h2>Notifications:</h2>

   <table class="table table table-hover">
     <thead>
       <tr>
         <th>Course name</th>
         <th>Teacher name</th>
         <th>Confirm</th>
       </tr>
     </thead>
     <tbody>
			 <% @notify.each do |x| %>
				 <tr>
					 <% course?(x.group_id) %>
					 <td><%= @course.name %></td>
					 <% teacher?(@course.id) %>
					 <td><%= teacher_fullname?(@teacher) %></td>
					 <td><%= link_to "Attend!", confirm_path(x.id), method: :post, class: "attend"%></td>
				 </tr>
			 <% end %>
     </tbody>
   </table>
  </div>
</div>
